################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PerformanceLoggerCleanupScript/.vs/PerformanceLoggerCleanupScript/FileContentIndex/19cb28d7-b138-421e-bc73-92868d781216.vsidx
/.vs/PerformanceLoggerCleanupScript/FileContentIndex/84063d02-be44-4065-acab-c746b5fbcb55.vsidx
