
**/bin/
**/obj/
.vs/
packages/

**/StyleCop.Cache

**/Debug/net48/

**/*.dll
**/*.pdb
**/*.sourcelink.json
**/*.AssemblyInfo.cs

_git2_*
**/.svn

*.suo
**/*.csproj.user
*sln.DotSettings.user
*.dtbcache.json

**/~$*.docx
**/*.v2
